<h4>Update Your Profile Picture</h4>
<%= form_for @user do |f| %>
<%= f.label "Picture_url" %>
<%= f.text_field :picture, placeholder: "enter url here" %>
<%= f.submit "Update" %>
<% end %>
<br>
<br>
