<div class="white_background">

  <div class="Profile">
    <h1>Hi, <%= @user.name.titleize %>!</h1>

    <img src="<%= @user.picture %>" alt="no employee photo... yet">

    <%= button_to "Create An Event", new_event_path %>

    <%= button_to "Add Profile Picture", edit_user_path %>
  </div>
</div>
