/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* Css Styling Here  */

 body, html {
    margin: 0;
    /* overflow: hidden; */
    height: 100%;
    width: 100%;
 }


 body {
   background: url(pick2.jpeg);
   background-position: center center;
 	background-repeat:  no-repeat;
 	background-attachment: fixed;
 	background-size:  cover;
 	background-color: #999;
 }

 .top-margin {
   margin-top: 120px;
 }

.center-headings {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  text-shadow: 4px 4px #CD3A00;
  color: white;
}

.textarea {
  /* background: black; */
  border-radius: 15px;
  border: none;
  font-size: 10pt;
}

.center {
  text-align: center;
}

 select {
  border-radius: 50px;
  background: #516A82;
  padding: 10px;
  width: 200px;
  height: 30px;
  font-size: 13pt;
  margin-bottom: 80px;
  color: black;
  border-color: #516A82;
  opacity: 0.8;
  color: white;
}

.time-box {
  background: #516A82;
  padding: 10px;
  width: 120px;
  height: 30px;
  /* font-size: 15pt; */
  margin-bottom: 80px;
  color: black;
  border-color: #516A82;
  opacity: 0.8;
  color: white;
}

p {
  color: white;
}

.home-text {
  text-align: center;
  margin-top: 150px;
  font-family: 'Amatic SC', cursive;
  font-size: 78px;
  text-shadow: 2px 5px red;
  /* color: black; */
}
 /* Form For New User Styling */
 label {
   color: white;
   text-align: center;
   font-size: 30pt;
   font-family: 'Amatic SC', cursive;
 }

 .new_user {
   text-align: center;
 }

 .new_event {
   text-align: center;
 }

 .edit_user {
   text-align: center;
 }

 input[type=text] {
   border-radius: 25px;
   background: #516A82;
   padding: 10px;
   width: 400px;
   height: 5px;
   font-size: 15pt;
   margin-bottom: 80px;
   color: black;
   border-color: #516A82;
   opacity: 0.6;
   color: white;
 }

 input[type=file] {
   border-radius: 50px;
   background: #516A82;
   padding: 10px;
   width: 80px;
   height: 20px;
   font-size: 11pt;
   margin-bottom: 80px;
   /* color: black; */
   border-color: #516A82;
   opacity: 0.8;
   color: transparent;
   /* text-align: center; */

 }

 input[type=password] {
   border-radius: 25px;
   background: #516A82;
   padding: 10px;
   width: 400px;
   height: 5px;
   margin-bottom: 80px;
   border-color: #516A82;
   opacity: 0.6;
   color: white;
 }

 input[type=submit] {
   border-radius: 25px;
   background: #516A82;
   width: 200px;
   height: 30px;
   margin-bottom: 44px;
   opacity: 0.9;
   border-color: #516A82;
 }

 /* End of New User Form */

 /* Profile Styling */

.name {
    text-align: center;
    color: black;
    font-family: serif;
}

 .Profile {
   margin-top: 100px;
   text-align: center;
   width: 40%;
   margin: auto;
   background: transparent;
   border-radius: 48%;

 }

 .white_background {
   /* background: white; */
   width: 50%;
   length: 100%;
   margin: 0 auto;
   height: -webkit-fill-available;
 }



 /* End of Profile Styling */

 /* For Nav Bar */

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     /* background-color: #031D41; */
     position: fixed;
     top: 0;
     width: 100%;
     border-radius: 25px;
     /* opacity: 0.6; */
 }

 li {
     float: left;
     /* border-right: 1px solid white; */
     margin-right: 18px;
 }

 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     line-height: 1.1em;
     font-size: 30px;
     font-family: 'Amatic SC', cursive;
     text-decoration: none;
 }

 .logged {
   display: block;
   color: white;
   text-align: center;
   padding: 23px 16px;
   line-height: 1.1em;
   font-size: 17px;
   font-family: 'Amatic SC', cursive;
   text-decoration: none;
 }

 li a:hover {
     color: black;
     opacity: 0.7;
 }

 #login {
   float: right;
 }

 img:hover {
   animation: shake 0.5s;
   animation-iteration-count: infinite;
 }

 @keyframes shake {
   0% { transform: translate(1px, 1px) rotate(0deg); }
   10% { transform: translate(-1px, -2px) rotate(-1deg); }
   20% { transform: translate(-3px, 0px) rotate(1deg); }
   30% { transform: translate(3px, 2px) rotate(0deg); }
   40% { transform: translate(1px, -1px) rotate(1deg); }
   50% { transform: translate(-1px, 2px) rotate(-1deg); }
   60% { transform: translate(-3px, 1px) rotate(0deg); }
   70% { transform: translate(3px, 1px) rotate(-1deg); }
   80% { transform: translate(-1px, -1px) rotate(1deg); }
   90% { transform: translate(1px, 2px) rotate(0deg); }
   100% { transform: translate(1px, -2px) rotate(-1deg); }
 }

 /* End of Nav */
