/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Css Styling Here  */

body, html {
    height: 100%;
    width: 100%;
}


body {
  background: url(city.jpeg);
  background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
}

label {
  color: white;
  text-align: center;
  font-size: 30pt
}

.new_user {
  text-align: center;

}
input[type=text] {
  border-radius: 25px;
  background: 2px solid;
  padding: 10px;
  width: 400px;
  height: 5px;
  font-size: 15pt;
  margin-bottom: 80px;
  color: white;
  border-color: blue;
}

input[type=password] {
  border-radius: 25px;
  background: 2px solid;
  padding: 10px;
  width: 400px;
  height: 5px;
  margin-bottom: 80px;
  border-color: blue;
}

input[type=submit] {
  border-radius: 25px;
  background: blue;
  width: 200px;
  height: 35px;
  margin-bottom: 80px;
  opacity: 0.9;
  border-color: blue;
}

/* External Css Styling */
